<h2>Create project</h2>

<!-- Part 2: Create project -->
<form action="/new" method="POST">
  
  title: <input type="text" name="Title" value="{{title}}">
  goal: <input type="text" name="Goal" value="{{goal}}">

  description: <textarea rows="4" name="textarea" cols="50" value="{{description}}">

</textarea>
 start:<input type="date" name="startDate" value="{{start}}"">
 end:<input type="date" name="endDate" value="{{end}}">

  <input type="submit" value="Submit">
 <h2>TITLE:{{title}}</h2>
</form>

<!-- Part 5: Project categories -->
<!-- YOUR CODE HERE -->
